<!DOCTYPE html>
    <head>
    </head>

    <body>
        <form method="POST" action="/checkout">
        <p>Add to cart:<input id ="item" type="text" name="item"></p>
        <input type="submit" name="Submit" id="submit">
    </body>
</html>
