<h1>Enter an item purchase:</h1>
<form action="/checkout" method="POST">
<label for="item">Item</label>
<input type="text" id="item" name="item">
<input type="submit" name="submit" value="submit">
</form>

<p><%= @session%></p>